__pycache__/
*.DS_Store
unsure/*
data/*
2_analysis/lco_spectra/*
2_analysis/lco_photometry/figures*
2_analysis/lco_photometry/for-meir.ipynb
2_analysis/lco_photometry/mcmc/*
2_analysis/tess/figures/*
2_analysis/tess/stella/*
*.png
*.pkl
*.xls
*.csv
